* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #6fa49a, #6f7aa9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(228, 209, 209);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    width: 90%;
    max-width: 420px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background:  linear-gradient(to right,#879fa7,#3a6073);
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #7f6d6d;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e1ebe9;
}

/* Webcam Section */
#cameraContainer {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#camera {
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    border: 2px solid #4b79a1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#capturedImage {
    margin-top: 0.8rem;
    max-width: 150px;
    border: 2px solid #4b79a1;
    border-radius: 8px;
    display: none;
}

/* Buttons */
button {
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: #4b79a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #3a6073;
}

p {
    margin-top: 1rem;
    text-align: center;
}
